<div class="col-md-8 col-md-offset-2" *ngIf="currentUserIsAdmin == null">
    Laddar...
</div>
<div class="col-md-8 col-md-offset-2" *ngIf="currentUserIsAdmin == false">
    Du verkar sakna adminbehörighet!
</div>
<div class="col-md-8 col-md-offset-2" *ngIf="currentUserIsAdmin == true">
    <div class="form-group">
        <label for="date">Ny träning</label>
        <input type="text" class="form-control" [(ngModel)]="newTraining" placeholder="åååå-mm-dd" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="addTraining()" [disabled]="disableAddButton()">Lägg till</button>
    </div>
    <hr />
    <div class="form-group">
        <label for="date">Redigera träning</label>
        <select class="form-control" [(ngModel)]="selectedTraining" (ngModelChange)="getTrainingSpecifics()">
            <option *ngFor="let t of trainings" [ngValue]="t">
                {{t.date}}
            </option>
        </select>
    </div>
    <div *ngIf="selectedTraining != undefined">
        <div class="form-group">
            <label for="cancelled">Inställd</label>
            <input type="checkbox" [checked]="selectedTraining.cancelled === '1'" (change)="toggleCancelled()" (disabled)="selectedTrainingCancelledDisabled" />
        </div>
        <div *ngIf="selectedTraining.cancelled !== '1'">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Spelare</th>
                        <th>Inget svar</th>
                        <th>Frånvarande</th>
                        <th>Anmäld</th>
                        <th>Närvarande</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of allPlayersWithStatus">
                        <td *ngIf="!a.guest">{{a.player.username}}</td>
                        <td *ngIf="a.guest">Gäst: {{a.guest}}</td>
                        <td><input type="radio" name="name_{{a.player.id}}_{{a.guest}}" [checked]="a.status === -1" disabled="disabled"></td>
                        <td><input type="radio" name="name_{{a.player.id}}_{{a.guest}}" (click)="setStatus(a, 0)" [checked]="a.status === 0"></td>
                        <td><input type="radio" name="name_{{a.player.id}}_{{a.guest}}" (click)="setStatus(a, 1)" [checked]="a.status === 1"></td>
                        <td><input type="radio" name="name_{{a.player.id}}_{{a.guest}}" (click)="setStatus(a, 2)" [checked]="a.status === 2"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" (click)="verifyRegistered()" [disabled]="verifyRegisteredDisabled()">Verfiera anmälda</button>
            <button class="btn btn-primary" (click)="save()" [disabled]="saveDisabled() || saveInProgress">Spara</button>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label for="date">Ny spelare</label>
        <input type="text" class="form-control" [(ngModel)]="newPlayer" placeholder="Namn" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="addPlayer()" [disabled]="newPlayer === ''">Lägg till</button>
    </div>
</div>
