<div class="col-md-8 col-md-offset-2">
    <nav>
        <ul class="nav nav-pills" role="tablist" style="margin-bottom:20px">
            <li role="presentation" routerLinkActive="active">
                <a routerLink="/training" routerLinkActive="active">Träning</a>
            </li>
            <li role="presentation" routerLinkActive="active">
                <a routerLink="/statistics" routerLinkActive="active">Statistik</a>  
            </li>
            <li role="presentation" routerLinkActive="active">
                <a routerLink="/players" routerLinkActive="active">Spelare</a>  
            </li>
        </ul>
    </nav>
</div>