<div class="panel panel-default">
  <div class="panel-heading">{{title}} ({{attendees.length}})</div>
  <ul class="list-group">
    <li *ngFor="let attendee of attendees" class="list-group-item" (click)="goToDetail(attendee)">
      <span *ngIf="attendee.isGuest()">
        {{attendee.guest}} (Gäst, kompis till {{attendee.player.username}})
      </span>
      <a role="button" *ngIf="attendee.isGuest() == false" (click)="goToDetail(attendee)">
        {{attendee.player.username}}
      </a>
    </li>
  </ul>
</div>