<div class="col-md-4 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">Spelare</div>
        <div class="list-group">
            <a *ngFor="let p of players" 
                [class.active]="isActive(p)"
                (click)="onSelect(p)"
                class="list-group-item"
                role="button">
                <span>{{p.username}}</span>
            </a>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Spelaregenskaper</div>
        <div *ngIf="player == null && !editMode" class="panel panel-body">
            Ingen spelare vald!
        </div>
        <div class="panel panel-body">
            <h4 *ngIf="player != null">{{player.username}}</h4>
            <div *ngIf="player != null && !editMode">
                <player-detail [player]="player" [playerProperties]="playerProperties"></player-detail>
                <a role="button" (click)="editMode = true">Ändra</a>
            </div>
            <div *ngIf="player != null && editMode">
                <player-edit [player]="player" [playerProperties]="playerProperties" (propertiesChanged)="updateProperties($event)"></player-edit>
            </div>
        </div>
    </div>
</div>
