<div class="col-md-4 col-md-offset-2">

    <div class="form-group">
        <label for="date">Välj säsong</label>
        <select class="form-control" [(ngModel)]="selectedSeason" (ngModelChange)="changeSeason()">
            <option *ngFor="let s of seasons" [ngValue]="s">
                {{s.name}}
            </option>
        </select>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Träningsligan</div>
        <table class="table table-striped">
            <tbody>
                <tr *ngFor="let item of trainingLeague">
                    <td>{{item.position}}</td>
                    <td>
                        <a role="button" (click)="goToDetail(item)">
                            {{item.username}}
                        </a>
                    </td>
                    <td>{{item.count}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Bring-a-friend-ligan</div>
        <table class="table table-striped">
            <tbody>
                <tr *ngFor="let item of bringAFriendLeague">
                    <td>{{item.position}}</td>
                    <td>
                        <a role="button" (click)="goToDetail(item)">
                            {{item.username}}
                        </a>
                    </td>
                    <td>{{item.count}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Antal träningar</div>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>{{numTrainings}} ({{numCancelledTrainings}} inställda)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Genomsnittlig närvaro</div>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>{{averageAttending}} ({{averageAttendingGuest}} med gäster)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
