<div class="col-md-4 col-md-offset-2">
  <div class="form-group">
    <label for="date">Datum</label>
    <select class="form-control" [(ngModel)]="selectedTraining" (ngModelChange)="getTrainingSpecifics()">
      <option *ngFor="let t of trainings" [ngValue]="t">
        {{t.date}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="player">Spelare</label>
    <select class="form-control" [(ngModel)]="selectedPlayer">
      <option *ngFor="let player of allPlayers" [ngValue]="player"> 
        {{player.username}}
      </option>
    </select>
  </div>
  <div *ngIf="!showGuestForm">
    <div class="form-group" *ngIf="!showGuestForm">
      <button class="btn btn-success" (click)="register()" [disabled]="registerDisabled()">Kommer</button>
      <button class="btn btn-danger" (click)="unregister()" [disabled]="unregisterDisabled()">Kan inte...</button>
    </div>
  </div>
  <div *ngIf="showGuestForm">
    <div class="form-group">
      <label for="player">Gäst</label>
      <input class="form-control" type="text" [(ngModel)]="guest" />
    </div>
    <div class="form-group">
      <button class="btn btn-success" (click)="registerGuest()" [disabled]="registerGuestDisabled()">Kommer</button>
      <button class="btn btn-danger" (click)="unregisterGuest()" [disabled]="unregisterGuestDisabled()">Kan inte...</button>
    </div>
  </div>
  <a role="button" [hidden]="showGuestForm" (click)="showGuestForm = !showGuestForm">Anmäl gästspelare</a>
  <a role="button" [hidden]="!showGuestForm" (click)="showGuestForm = !showGuestForm">Anmäl ordinarie spelare</a>
  <hr />
  <h4>Kommentarer</h4>
  <div class="form-group">
    <input type="text" placeholder="Namn" class="form-control" [(ngModel)]="commentName" />
  </div>
  <div class="form-group">
    <textarea class="form-control" placeholder="Skriv något..." [(ngModel)]="commentMessage"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)="addComment()" [disabled]="commentDisabled()">Kommentera</button>
  </div>
  <comment-list [comments]="comments"></comment-list>
</div>
<div class="col-md-4">
  <player-list [attendees]="attending" [title]="'Kommer'"></player-list>
  <player-list [attendees]="notAttending" [title]="'Kommer inte'"></player-list>
  <player-list [attendees]="notAnswered" [title]="'Inget svar'"></player-list>
</div>